Repository benyap/apollo-graphql-server-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:tslint:fix, prettier --write, git add --force

.lintstagedrc.json:

{
  "linters": {
    "*.ts": ["yarn lint:tslint:fix", "prettier --write", "git add --force"],
    "*.json": ["prettier --write", "git add --force"]
  },
  "ignore": ["test/**", "internals/**"]
}

ci: fix script to use yarn
  .circleci/config.yml
Due: none

chore(deps): update codecov orb to v1.0.3
  .circleci/config.yml
Due: none

feat: implement cost analysis and improve types generation
  graphqlgen.yml
  internals/scripts/generate-cost-map-types.ts
  internals/scripts/generate-graphql-schema.ts
  package.json
  src/config/index.ts
  src/config/loggerConfig.ts
  src/graphql/cost/costMap.ts
  src/graphql/cost/enums.ts
  src/graphql/cost/index.ts
  src/graphql/cost/types.d.ts
  src/graphql/resolvers/Scalars.ts
  src/graphql/resolvers/customScalars/ServerVersion.ts
  src/graphql/resolvers/resolvers/Mutation.ts
  src/graphql/resolvers/resolvers/Query.ts
  src/graphql/resolvers/resolvers/ServerDiagnostics.ts
  src/graphql/resolvers/resolvers/User.ts
  src/graphql/resolvers/resolvers/index.ts
  src/graphql/typeDefs/models/ServerDiagnostics.d.ts
  src/graphql/typeDefs/schemas/ServerDiagnostics.graphql
  src/graphql/typeDefs/schemas/User.graphql
  src/graphql/types.ts
  src/graphql/utils/loadGraphQLSchema.ts
  src/server/Server.ts
  src/services/ContextCreatorService/ContextCreatorService.ts
  src/services/ContextCreatorService/types.d.ts
  src/services/LoggingService/enums.ts
  src/services/LoggingService/utils.ts
  test/service/LoggingService/utils.spec.ts
  yarn.lock
Due: yarn lint:tslint:fix, prettier --write, git add --force

docs: add better documentation and structure
  .github/ISSUE_TEMPLATE/bug_report.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/general/apollo.md
  docs/general/commands.md
  docs/general/introduction.md
  docs/general/services.md
  docs/general/typeGeneration.md
  docs/testing/README.md
  package.json
Due: prettier --write, git add --force

chore: add more setup scripts
  internals/scripts/clean.ts
  internals/scripts/setup.ts
  package.json
Due: yarn lint:tslint:fix, prettier --write, git add --force

feat: modify example service to use DataLoader
  package.json
  src/example/data.ts
  src/example/service.ts
  src/example/types.d.ts
  src/example/utils.ts
  src/graphql/resolvers/resolvers/Mutation.ts
  src/graphql/resolvers/resolvers/Query.ts
  src/graphql/resolvers/resolvers/User.ts
  src/graphql/schemaDirectives/LogDirective.ts
  src/services/ContextCreatorService/ContextCreatorService.ts
  src/services/ServiceLibrary/InMemoryServiceLibrary.ts
  src/services/ServiceLibrary/types.d.ts
  src/services/service/AbstractService.ts
  src/services/service/types.d.ts
  test/service/ServiceLibrary/ServiceLibrary.spec.ts
  yarn.lock
Due: yarn lint:tslint:fix, prettier --write, git add --force

style: use arrow functions for classes
  src/example/service.ts
  src/graphql/utils/findFilesInDirectory.ts
  src/server/Server.ts
  src/services/AuthenticationService/AuthenticationService.ts
  src/services/CacheService/InMemoryCacheService.ts
  src/services/ContextCreatorService/ContextCreatorService.ts
  src/services/LoggingService/LoggingService.ts
  src/services/NetworkService/AxiosNetworkService.ts
  src/services/ServiceLibrary/InMemoryServiceLibrary.ts
  src/services/service/AbstractService.ts
  tslint.json
Due: yarn lint:tslint:fix, prettier --write, git add --force

feat: improve DataLoading for example
  src/example/service.ts
  src/example/types.d.ts
  src/graphql/resolvers/resolvers/Query.ts
Due: yarn lint:tslint:fix, prettier --write, git add --force

refactor: remove E prefix from LogLevel and LogTopic
  src/config/loggerConfig.ts
  src/environment/configureEnvironment.ts
  src/example/service.ts
  src/graphql/cost/index.ts
  src/server/Server.ts
  src/server/basicServices.ts
  src/services/AuthenticationService/AuthenticationService.ts
  src/services/CacheService/InMemoryCacheService.ts
  src/services/ContextCreatorService/ContextCreatorService.ts
  src/services/LoggingService/LoggingService.ts
  src/services/LoggingService/enums.ts
  src/services/LoggingService/index.ts
  src/services/LoggingService/loggers.ts
  src/services/LoggingService/types.d.ts
  src/services/LoggingService/utils.ts
  src/services/NetworkService/AxiosNetworkService.ts
  src/services/ServiceLibrary/InMemoryServiceLibrary.ts
  src/services/service/utils.ts
  test/service/LoggingService/LoggingService.spec.ts
  test/service/LoggingService/loggers.spec.ts
  test/service/LoggingService/utils.spec.ts
  tsconfig.json
Due: yarn lint:tslint:fix, prettier --write, git add --force

fix: validation rules for graphql-cost-anlysis
  src/graphql/cost/index.ts
  src/server/EnhancedApolloServer.ts
  src/server/Server.ts
  tsconfig.json
Due: yarn lint:tslint:fix, prettier --write, git add --force

chore(deps): update dependency @commitlint/cli to v7.4.0
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency @types/sinon to v7.0.5
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency jest-junit to v6.2.1
  package.json
  yarn.lock
Due: prettier --write, git add --force

test: add 'Service:' prefix to Service test blocks
  test/service/AuthenticationService/AuthenticationService.spec.ts
  test/service/CacheService/InMemoryCacheService.spec.ts
  test/service/CacheService/index.spec.ts
  test/service/ContextCreatorService/ContextCreatorService.spec.ts
  test/service/LoggingService/LoggingService.spec.ts
  test/service/LoggingService/index.spec.ts
  test/service/LoggingService/loggers.spec.ts
  test/service/LoggingService/utils.spec.ts
  test/service/NetworkService/AxiosNetworkService.spec.ts
  test/service/NetworkService/index.spec.ts
  test/service/ServiceLibrary/ServiceLibrary.spec.ts
Due: yarn lint:tslint:fix, prettier --write, git add --force

feat: restructure and add testing for resolvers
  jest.config.js
  src/example/types.d.ts
  src/graphql/resolvers/customScalars/ServerVersion.ts
  src/graphql/resolvers/index.ts
  src/graphql/resolvers/resolvers/Mutation.ts
  src/graphql/resolvers/resolvers/Query.ts
  src/graphql/resolvers/resolvers/ServerDiagnostics/ServerDiagnostics.ts
  src/graphql/resolvers/resolvers/ServerDiagnostics/ServerDiagnosticsQueries.ts
  src/graphql/resolvers/resolvers/ServerDiagnostics/types.d.ts
  src/graphql/resolvers/resolvers/Subscription.ts
  src/graphql/resolvers/resolvers/User/User.ts
  src/graphql/resolvers/resolvers/User/UserMutations.ts
  src/graphql/resolvers/resolvers/User/UserQueries.ts
  src/graphql/resolvers/resolvers/User/UserSubscriptions.ts
  src/graphql/resolvers/resolvers/User/types.d.ts
  src/graphql/resolvers/resolvers/index.ts
  src/graphql/typeDefs/schemas/ServerDiagnostics.graphql
  src/graphql/types.ts
  src/services/ContextCreatorService/ContextCreatorService.ts
  src/services/ContextCreatorService/types.d.ts
  src/services/ExampleService/data.ts
  src/services/ExampleService/service.ts
  src/services/ExampleService/types.d.ts
  src/services/ExampleService/utils.ts
  test/resolvers/customScalars/ServerVersion.spec.ts
  test/resolvers/index.spec.ts
  test/resolvers/resolvers/ServerDiagnostics/ServerDiagnostics.spec.ts
  test/resolvers/resolvers/ServerDiagnostics/ServerDiagnosticsQueries.spec.ts
  test/resolvers/resolvers/User/User.spec.ts
  test/resolvers/resolvers/User/UserMutations.spec.ts
  test/resolvers/resolvers/User/UserQueries.spec.ts
  test/resolvers/resolvers/User/UserSubscriptions.spec.ts
  test/service/ContextCreatorService/ContextCreatorService.spec.ts
  test/service/ExampleService/service.spec.ts
  test/utils/mockServiceLibrary.ts
  tsconfig.json
Due: yarn lint:tslint:fix, prettier --write, git add --force

fix: force case sensitive file change
  src/graphql/resolvers/scalars.ts
Due: yarn lint:tslint:fix, prettier --write, git add --force

fix: force case sensitive file change
  src/graphql/resolvers/Scalars.ts
Due: yarn lint:tslint:fix, prettier --write, git add --force

chore: fix test output for jest-junit
  package.json
Due: prettier --write, git add --force

chore: add different project configs for test and build
  package.json
  tsconfig-build.json
  tsconfig.json
Due: prettier --write, git add --force

fix: send subscriptions data properly
  src/graphql/resolvers/resolvers/User/UserMutations.ts
  src/graphql/types.ts
  test/resolvers/resolvers/User/UserSubscriptions.spec.ts
Due: yarn lint:tslint:fix, prettier --write, git add --force

feat: handle subscriptions through context
  src/server/Server.ts
Due: yarn lint:tslint:fix, prettier --write, git add --force

fix: incorrect type annontation
  src/graphql/resolvers/resolvers/User/UserSubscriptions.ts
Due: yarn lint:tslint:fix, prettier --write, git add --force

feat: update costMap
  src/graphql/cost/costMap.ts
Due: yarn lint:tslint:fix, prettier --write, git add --force

fix(deps): update dependency apollo-server-express to v2.3.3
  package.json
  yarn.lock
Due: prettier --write, git add --force

ci: force jest to exit on CircleCI
  .circleci/config.yml
Due: none

chore(deps): update dependency typescript to v3.3.1
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore: remove CircleCI
  .circleci/config.yml
  README.md
Due: none

chore(deps): update dependency ts-node to v8.0.2
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency prettier to v1.16.4
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency lint-staged to v8.1.3
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update commitlint monorepo to v7.5.0
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency @commitlint/cli to v7.5.2
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency @types/jest to v23.3.14
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency graphqlgen to v0.6.0-rc8
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency nodemon to v1.18.10
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency tslint-config-prettier to v1.18.0
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency typescript to v3.3.3
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency @types/graphql to v14.0.7
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency @types/shelljs to v0.8.3
  package.json
  yarn.lock
Due: prettier --write, git add --force

chore(deps): update dependency @types/sinon to v7.0.6
  package.json
  yarn.lock
Due: prettier --write, git add --force
